@import "./styles/colors.scss";

.app-container {
  background-color: $background-color;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box; // Asegura el manejo correcto de padding y borders.
  display: flex; // Flexbox para facilitar la alineación del contenido
  padding: 1rem; // Para dar espacio interno y evitar que el contenido toque los bordes
}
