@import "../../styles/colors.scss";

.cool-button {
  background-color: $secondary-color; /* Purple background */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cool-button:hover {
  background-color: $primary-color; /* Lighter purple on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cool-button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
